.top-panel {
	padding: 12px;
	background-color: #ededed;
}
.left-panel {
	padding: 12px;
	background-color: #ededed;
	width: 130px;
}

/* icons */
.top-panel .gwt-Button {
	background-position: 0px 0px;
	background-repeat: no-repeat; 
	padding-left: 24px;
	margin-right: 10px;
	margin-top: 10px;
}
.top-panel .selection {
	background-image: url(/espinillo/imgs/selection24.png);	
}
.top-panel .text {
	background-image: url(/espinillo/imgs/text24.png);
}
.top-panel .rect {
	background-image: url(/espinillo/imgs/rect24.png);
}
.top-panel .circle{
	background-image: url(/espinillo/imgs/circle24.png);
}
.top-panel .line{
	background-image: url(/espinillo/imgs/line24.png);
}
.top-panel .ellipse{
	background-image: url(/espinillo/imgs/ellipse24.png);
}
.top-panel .curve{
	background-image: url(/espinillo/imgs/curve24.png);
}
.top-panel .free-transform{
	background-image: url(/espinillo/imgs/free-transform24.png);
}